*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    margin: 50% auto;
    display: flex;
    width: 90%;
}

aside, main section{
    background-color: white;
    border: 1px solid gray;
    margin-right: 15px;
    flex: 3;
    
}
main{
    flex: 7;
}

.personalimage{
    width: 100%;
    height: auto;
}
